<div class="page-header">
  <h1>
    <%= @neighborhood.name %>
    <small><%= @neighborhood.city %></small>
  </h1>
</div>


<% current_user.venues.where(:neighborhood_id => @neighborhood.id).each do |venue| %>
<div class="page-header">
  <h2><%= venue.name %></h2>
</div>

<div id="dish-list" class="row">
  <%= render Dish.where(:id => current_user.favorites.where(:venue_id => venue.id).pluck(:dish_id)) %>
</div>
<% end %>
